* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ecd8d8e7;
    background:
        linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 0.281)),
        url('https://i.pinimg.com/736x/bb/3e/e2/bb3ee21e21c6b5f418080c34deb157a2.jpg') center/cover no-repeat fixed;
    overflow-x: hidden;
    min-height: 100vh;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}

.block_header,.content{
    height: 5em;
    width: 100%;
    background-color: #b600007d;
    position: fixed;
}

.cat-1{
    height: 100px;
    width: 120px;
    left: 10px;
}


.title {
    position: fixed;
    top: 1px; /* Отступ сверху */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Точное центрирование */
    z-index: 1000; /* Чтобы был поверх других элементов */
    font-size: 50px;
}

.block_main{
    height: 87vh;
    width: 100%;
    
}

.languages,.block_projects{
    font-size: 55px;
    position: fixed;
    top: 550px;
    left: 50%; 
    transform: translateX(-65%); 
    z-index: 1000;
    color: rgb(255, 229, 229);
    line-height: 20px;
}

.block_projects{
    top: 450px;
    left: 50%; 
    transform: translateX(-70%); 
    z-index: 1000;
}

.text{
    position: fixed;
    top: 150px; 
    left: 50%; 
    transform: translateX(-45%); 
    z-index: 1000;
}


.block_footer{
    height: 30em;
    width: 100%;
    background-color: #b6000042;
    position: fixed;
    font-size: 2em;
    color: #eccfcfb2;
}

.member {
    display: flex; /* Делаем контейнер flex */
    gap: 30px; /* Расстояние между элементами */
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы по умолчанию */
    margin: 0; /* Убираем отступы по умолчанию */
}

.member li {
    white-space: nowrap; /* Запрещаем перенос текста */
}

.member a,.block_projects a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста */
    transition: color 0.3s; /* Плавное изменение цвета */
}

.member a:hover,.block_projects a:hover{
    color: rgb(218, 42, 42); /* Цвет при наведении */
}

.languages,.block_projects{
    padding: 1.5rem 2rem;
    border-radius: 12px;
    width: 45%;
    max-width: 600px;
    text-align: center;
    background-color: #b600007d;
    position: fixed;
    top: 350px; 
    left: 25%; 
    transform: translateX(-45%); 
    z-index: 1000;
}

.block_projects{
    left: 60%; 
    transform: translateX(-25%); 
}

.line{
    height: 50px ;
    width:100% ;
}
